@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply !scrollbar-thin !scrollbar-track-transparent !scrollbar-thumb-black;
  }
}

html,
body,
:root{
    height: 100%;
}

.leaflet-bottom,
.leaflet-control,
.leaflet-pane,
.leaflet-top {
    z-index: 0 !important;
}

.rdrMonth {
    width: 100% !important;
}

.rdrCalendarWrapper {
    font-size: 16px !important;
    width: 100% !important;
}

/* Masonry Grid Styles */
.masonry-grid-column {
  padding-left: 16px; /* gap between columns */
  background-clip: padding-box;
}

.masonry-grid-column > div {
  margin-bottom: 16px; /* gap between items */
}